<% flash.each do |type, message| %>
  <% alert_class = case type.to_sym
     when :notice then "flash flash-success"
     when :alert  then "flash flash-error"
     else "alert"
     end %>

  <aside role="status" class="<%= alert_class %>">
    <%= message %>
  </aside>
<% end %>

<h1>Sign In</h1>

<%= form_with url: session_path, local: true do |form| %>
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
  <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
  <%= form.submit "Sign in" %>
<% end %>
<br>

<%= link_to "Forgot your password?", new_password_path %>
