<% flash.each do |type, message| %>
  <% alert_class = case type.to_sym
     when :notice then "flash flash-success"
     when :alert  then "flash flash-error"
     else "alert"
     end %>

  <aside role="status" class="<%= alert_class %>">
    <%= message %>
  </aside>
<% end %>

<h1>Sign Up</h1>

<% if @user.errors.any? %>
    <article class="flash flash-error">
      <strong>
        <%= pluralize(@user.errors.count, "error") %> prevented this user from being saved:
      </strong>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </article>
  <% end %>

<%= form_with model: @user, local: true do |form| %>
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address" %><br>
  <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
  <%= form.submit "Sign up" %>
<% end %>
<br>

<%= link_to "Already have an account?", new_session_path %>
